*{
    margin: 0;
}
body{
    background-color: gainsboro;
}
#ComputerScore{
    position: fixed;
    top: 0;
    right: 0;
    z-index:99;

}
#PlayerScore{
    position: fixed;
    top: 0;
    right: 250px;
    z-index:99;
}

#ComputerScore, #PlayerScore{
    margin-top:100px;
    background-color:#fff;
    height:500px;
}

form{
    margin-top:100px;
    margin-left:50px;
    background-color: #fff;
    height:500px;
    border-radius:5px;
}


